[Unit]
Description=Mongodb

[Service]
User=mongodb

WorkingDirectory=/home/mongodb
ExecStart=/usr/bin/node /home/mongodb/TeamAPoolProjectBackend/Index.js

[Install]
WantedBy=multi-user.target
