[Unit]
Description=Mongodb

[Service]
User=mongodbAdm

WorkingDirectory=/home/mongodbAdm
ExecStart=node Index.js

[Install]
WantedBy=multi-user.target
