[Unit]
Description=Mongodb

[Service]
User=mongodb

WorkingDirectory=/var/lib/mongodb/TeamAPoolProjectBackend
ExecStart=/usr/bin/node /var/lib/mongodb/TeamAPoolProjectBackend/Index.js

[Install]
WantedBy=multi-user.target
