[Unit]
Description=Angular

[Service]
User=angular

WorkingDirectory=/home/angular
ExecStart=/usr/bin/ng serve --host 0.0.0.0 

[Install]
WantedBy=multi-user.target
